*{
  font-family: "poppins",sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
.Profile-card
{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0,0, 0.2);
  position: relative;

}
.Profile-card::before{
  content: '';
  position: absolute;
  height: 36%;
  width: 100%;
  background-color: #4070f4;
  top: 0;
  border-radius: 24px 24px 0 0;
}
.image
{
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #4070f4;
  border-radius: 50%;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-image{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 3px solid #fff;
}
.Profile-card .text-data
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.text-data .name{
  font-size: 22px;
  font-weight: 500;
}
.text-data .job{
  font-size: 15px;
  font-weight: 400;
}
.Profile-card .media-buttons{
  display: flex;
  align-items: center;
  margin-top: 15px;

}
.media-buttons .link{
  text-decoration: none;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  margin: 0px 10px;
  color: white;


}
.media-buttons{
  display: flex;
  align-items: center;
  margin-top: 25px;

}
.Profile-card .buttons{
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.buttons .button{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border :none ;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3 ease;
  


}
.button:hover{
background-color: #0e4bf1;
}